DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=

HLLRCON_BASE_URL=http://localhost:8080
HLLRCON_APP_USERNAME=admin
HLLRCON_APP_PASSWORD=

HLL_SERVER_HOST=
HLL_SERVER_PORT=28015
HLL_SERVER_PASSWORD=

HLL_DISCORD_CATEGORY_NAME=HLL Control
HLL_DEFAULT_ADMIN_NAME=Discord Bot
HLL_STATE_FILE=./data/state.json
HLL_ROLE_OBSERVER=HLL Observer
HLL_ROLE_MODERATOR=HLL Moderator
HLL_ROLE_SENIOR_ADMIN=HLL Senior Admin
HLL_ROLE_ADMIN=HLL Admin
